In [22]:
# Để làm việc với các thao tác số học
import numpy as np

# Để quản lý dữ liệu trong dataframe
import pandas as pd

# Để sử dụng các chức năng thống kê
import scipy.stats as stats

In [23]:
# Sử dụng thư viện LabelEncoder để chuyển đổi biến phân loại thành dạng số
from sklearn.preprocessing import LabelEncoder

# 1.&nbsp;Đọc dữ liệu và xem thông tin

In [24]:
# Đọc dữ liệu từ file csv
df = pd.read_csv('../data/CarPricePrediction.csv')

In [25]:
# Liệt kê tên của các cột có trong bộ dữ liệu
df.columns

Index(['Màu sắc', 'Tiêu đề', 'Chủ', 'Phân loại người bán', 'Địa chỉ', 'Hãng',
       'Dòng xe', 'Năm sản xuất', 'Số Km đã đi', 'Tình trạng', 'Hộp số',
       'Nhiên liệu', 'Kiểu dáng', 'Số chỗ', 'Xuất xứ', 'Chính sách bảo hành',
       'Trọng lượng', 'Trọng tải', 'Giá', 'Đối tác', 'href'],
      dtype='object')

In [26]:
# Hiển thị 5 dòng đầu tiên của bộ dữ liệu
df.head()

,Màu sắc,Tiêu đề,Chủ,Phân loại người bán,Địa chỉ,Hãng,Dòng xe,Năm sản xuất,Số Km đã đi,Tình trạng,...,Nhiên liệu,Kiểu dáng,Số chỗ,Xuất xứ,Chính sách bảo hành,Trọng lượng,Trọng tải,Giá,Đối tác,href
0,đen,Mitsubishi Xpander 1.5 AT ECO 2022 xe cá nhân,CARPLA AUTOMALL,Bán chuyên,"Tòa nhà Tasco, Phường Mễ Trì, Quận Nam Từ Liêm...",Mitsubishi,Xpander,2022,50000,Đã sử dụng,...,Xăng,Minivan (MPV),7,Đang cập nhật,Bảo hành hãng,> 1 tấn,> 2 tấn,559.000.000 đ,No,https://xe.chotot.com/mua-ban-oto-quan-nam-tu-...
1,nâu,Xe gia đình đang đi kẹt tiền cần bán gấp giá b...,Dương Huy Phát,Cá nhân,"Phường Tân Sơn Nhì, Quận Tân Phú, Tp Hồ Chí Minh",Nissan,Sunny,2019,52000,Đã sử dụng,...,Xăng,Sedan,5,Hàn Quốc,Bảo hành hãng,> 1 tấn,> 2 tấn,335.000.000 đ,No,https://xe.chotot.com/mua-ban-oto-quan-tan-phu...
2,đen,Cần bán Ford Escap 2003 rất đẹp và cực kỳ ổn định,Mr Thanh,Cá nhân,"Phường 6, Quận 8, Tp Hồ Chí Minh",Ford,Escape,2003,140000,Đã sử dụng,...,Xăng,SUV / Cross over,5,Việt Nam,Bảo hành hãng,> 1 tấn,> 2 tấn,106.000.000 đ,No,https://xe.chotot.com/mua-ban-oto-quan-8-tp-ho...
3,đen,Accent 2021 - Phiên bản đặc biệt,Andy Nghia,Cá nhân,"Chung Cư EHOME3, Đường Hồ Học Lãm, Phường An L...",Hyundai,Accent,2021,42,Đã sử dụng,...,Xăng,Sedan,4,Hàn Quốc,Bảo hành hãng,> 1 tấn,> 2 tấn,450.000.000 đ,No,https://xe.chotot.com/mua-ban-oto-quan-binh-ta...
4,đỏ,Ford Ranger XLS 2.2 4x2 AT 2022,CARPLA AUTOMALL,Bán chuyên,"Đường Mễ Trì, Phường Mễ Trì, Quận Nam Từ Liêm,...",Ford,Ranger,2022,51000,Đã sử dụng,...,Dầu,-,-,Việt Nam,Bảo hành hãng,> 1 tấn,> 2 tấn,534.000.000 đ,No,https://xe.chotot.com/mua-ban-oto-quan-nam-tu-...

In [27]:
# Chuyển cột giá sang vị trí cuối cùng vì đây là biến mục tiêu
price = df.pop('Giá')
df['Giá'] = price

In [28]:
# Thay thế các giá trị '-' thành NaN và hiển thị thông tin bộ dữ liệu hiện tại
df.replace(to_replace='-', value=np.NaN, inplace=True)
df.info()

# Theo bảng thống kê ở bên dưới, các thuộc tính đều có kiểu là object.
# Ngoài ra, nó còn tồn tại các giá trị bị khuyết cũng như sẽ có các thuộc tính dư thừa.
# Vì vậy, ta tiến hành tiền xử lý để bộ dữ liệu này "sạch" hơn
# và có thể sử dụng để dự đoán mô hình.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2688 entries, 0 to 2687
Data columns (total 21 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Màu sắc              2688 non-null   object
 1   Tiêu đề              2688 non-null   object
 2   Chủ                  2688 non-null   object
 3   Phân loại người bán  1681 non-null   object
 4   Địa chỉ              2688 non-null   object
 5   Hãng                 2688 non-null   object
 6   Dòng xe              2688 non-null   object
 7   Năm sản xuất         2688 non-null   object
 8   Số Km đã đi          2404 non-null   object
 9   Tình trạng           2688 non-null   object
 10  Hộp số               2688 non-null   object
 11  Nhiên liệu           2688 non-null   object
 12  Kiểu dáng            2322 non-null   object
 13  Số chỗ               2377 non-null   object
 14  Xuất xứ              2688 non-null   object
 15  Chính sách bảo hành  2688 non-null   object
 16  Trọng lượng          2688 non-null   object
 17  Trọng tải            2688 non-null   object
 18  Đối tác              2688 non-null   object
 19  href                 2688 non-null   object
 20  Giá                  2685 non-null   object
dtypes: object(21)
memory usage: 441.1+ KB

# 2.&nbsp;Xóa và thay thế các cột không cần thiết

In [29]:
# Theo quan sát, ta thấy các thuộc tính như: 'Tiêu đề', 'Chủ', 'href' không mang ý nghĩa 
# để có thể dự đoán giá xe. Do đó, ta có thể xóa các thuộc tính này ra khỏi bộ dữ liệu ban đầu.
df.drop(['Tiêu đề', 'Chủ', 'href'], axis=1, inplace=True)

In [30]:
# Thay thế cột 'Địa chỉ' thành cột 'Tỉnh' được trích xuất từ chính thuộc tính đó 
# để có thể khảo sát.
df['Địa chỉ'] = df['Địa chỉ'].str.split(',').str[-1]
df.rename(columns={'Địa chỉ': 'Tỉnh'}, inplace=True)

In [31]:
# Các cột chỉ có 1 giá trị duy nhất là các cột sẽ không làm ảnh hưởng đến giá xe dự đoán. 
# Do đó, ta có thể xóa các cột này ra khỏi bộ dữ liệu ban đầu. 
# Các cột đó lần lượt là: Chính sách bảo hành, Trọng lượng, Trọng tải.
df.drop(['Chính sách bảo hành', 'Trọng lượng', 'Trọng tải'], axis=1, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2688 entries, 0 to 2687
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Màu sắc              2688 non-null   object
 1   Phân loại người bán  1681 non-null   object
 2   Tỉnh                 2688 non-null   object
 3   Hãng                 2688 non-null   object
 4   Dòng xe              2688 non-null   object
 5   Năm sản xuất         2688 non-null   object
 6   Số Km đã đi          2404 non-null   object
 7   Tình trạng           2688 non-null   object
 8   Hộp số               2688 non-null   object
 9   Nhiên liệu           2688 non-null   object
 10  Kiểu dáng            2322 non-null   object
 11  Số chỗ               2377 non-null   object
 12  Xuất xứ              2688 non-null   object
 13  Đối tác              2688 non-null   object
 14  Giá                  2685 non-null   object
dtypes: object(15)
memory usage: 315.1+ KB

# 3.&nbsp;Xử lý dữ liệu có giá trị bị khuyết

## 3.1.&nbsp;Giá trị bị khuyết là biến kiểu số

In [32]:
# Ở phần này, chúng tôi tiến hành thay thế những giá trị bị khuyết bằng mode cục bộ
# trong mỗi nhóm được tạo ra khi gom nhóm bởi thuộc tính 'Hãng'.
# Ngoài ra, tại mỗi nhóm nếu có giá trị nằm ngoài min và max của nhóm đó thì
# cũng thực hiện thay thế tương tự như trên.

In [33]:
def get_group_min_max(df, groupby, column):
    """
    Lấy giá trị tối thiểu và tối đa trong mỗi nhóm
    được xác định bởi 'groupby' cho một 'column' cụ thể.

    Parameters:
    - df: DataFrame đầu vào.
    - groupby: Cột được sử dụng để nhóm.
    - column: Cột mà bạn muốn tìm giá trị tối thiểu và tối đa.

    Returns:
    Tuple của giá trị tối thiểu và tối đa trong mỗi nhóm.
    """

    non_nan_groups = df[df[column].notna()].groupby(groupby)[
        column].apply(list)
    x, y = non_nan_groups.apply(lambda x: stats.mode(
        x, keepdims=True)).apply([min, max])
    return x[0][0], y[0][0]


def handle_empty_group(df, groupby, column, strategy='replace_with_default', inplace=True):
    """
    Xử lý trường hợp nhóm có toàn bộ giá trị là NaN.

    Parameters:
    - df: DataFrame đầu vào.
    - groupby: Cột được sử dụng để nhóm.
    - column: Cột cần xử lý.
    - strategy: Chiến lược xử lý ('remove_group', 'replace_with_default', 'remove_column').
    - inplace: Nếu True, sửa đổi DataFrame trực tiếp; nếu False, trả về DataFrame mới.

    Returns:
    Nếu inplace=True, None. Nếu inplace=False, trả về DataFrame
    sau khi xử lý.
    """
    grouped = df.groupby(groupby)[column]

    # Kiểm tra nếu toàn bộ giá trị trong một nhóm đều là NaN
    empty_groups = grouped.apply(
        lambda x: x.notna().all()
    ).loc[lambda x: x == False].index

    if inplace:
        if strategy == 'remove_group':
            # Loại bỏ nhóm đó khỏi DataFrame
            df.drop(df[df[groupby].isin(empty_groups)].index, inplace=True)
        elif strategy == 'replace_with_default':
            # Thay thế giá trị NaN trong nhóm bằng giá trị mặc định hoặc giá trị thống kê tổng quát
            # Bạn có thể chọn giá trị khác tùy thuộc vào nhu cầu
            default_value = df[column].mode()[0]
            df[column].fillna(default_value, inplace=True)
        elif strategy == 'remove_column':
            # Loại bỏ cột đó khỏi DataFrame
            df.drop(column, axis=1, inplace=True)
    else:
        # Tạo một bản sao của DataFrame để tránh thay đổi trực tiếp
        df = df.copy()
        if strategy == 'remove_group':
            # Loại bỏ nhóm đó khỏi DataFrame
            df.drop(df[df[groupby].isin(empty_groups)].index, inplace=True)
        elif strategy == 'replace_with_default':
            # Thay thế giá trị NaN trong nhóm bằng giá trị mặc định hoặc giá trị thống kê tổng quát
            # Bạn có thể chọn giá trị khác tùy thuộc vào nhu cầu
            default_value = df[column].mode()[0]
            df[column].fillna(default_value, inplace=True)
        elif strategy == 'remove_column':
            # Loại bỏ cột đó khỏi DataFrame
            df.drop(column, axis=1, inplace=True)

    if not inplace:
        return df


def make_group_nan_and_fill_mode_numeric(df, groupby, column, replace_outliers=True, inplace=True, empty_group_strategy='replace_with_default'):
    """
    Gán giá trị NaN cho 'column' cho các giá trị nằm ngoài
    giá trị tối thiểu và tối đa thực tế của nhóm.
    Điền giá trị NaN bằng mode cục bộ trong mỗi nhóm.

    Parameters:
    - df: DataFrame đầu vào.
    - groupby: Cột được sử dụng để nhóm.
    - column: Cột cần xử lý.
    - replace_outliers: Nếu True, thay thế giá trị nằm ngoài min và max bằng NaN.
    - inplace: Nếu True, sửa đổi DataFrame trực tiếp; nếu False, trả về DataFrame mới.
    - empty_group_strategy: Chiến lược xử lý cho nhóm toàn bộ giá trị là NaN ('remove_group', 'replace_with_default', 'remove_column').

    Returns:
    Nếu inplace=True, None. Nếu inplace=False, trả về DataFrame
    với giá trị NaN đã được gán và điền.
    """

    # Lấy giá trị tối thiểu và tối đa trong mỗi nhóm
    # Được xác định bởi 'groupby' cho một 'column' cụ thể.
    mini, maxi = get_group_min_max(df, groupby, column)

    # Gán giá trị sai thành NaN nếu replace_outliers=True
    if replace_outliers:
        col = df[column].apply(
            lambda x: np.NaN if not (mini <= x <= maxi) else x)
    else:
        col = df[column]

    # Điền bằng mode cục bộ
    mode_by_group = df.groupby(groupby)[column].transform(
        lambda x: x.mode()[0] if not x.mode().empty else np.NaN)

    # Kết hợp với xử lý nhóm toàn bộ giá trị là NaN
    df[column] = col.fillna(mode_by_group)

    # Xử lý nhóm toàn bộ giá trị là NaN
    handle_empty_group(df, groupby, column,
                       strategy=empty_group_strategy, inplace=inplace)

    if not inplace:
        return df


def numeric_wrong_values_reassign_group_min_max(df, groupby, column, replace_outliers=True, inplace=True, empty_group_strategy='replace_with_default'):
    """
    Gán giá trị NaN cho 'column' cho các giá trị nằm ngoài giá trị tối thiểu và tối đa thực tế của nhóm.
    Điền giá trị NaN bằng mode cục bộ trong mỗi nhóm.
    Tùy chọn hiển thị các thay đổi trước và sau khi gán lại.

    Parameters:
    - df: DataFrame đầu vào.
    - groupby: Cột được sử dụng để nhóm.
    - column: Cột cần xử lý.
    - replace_outliers: Nếu True, thay thế giá trị nằm ngoài min và max bằng NaN.
    - inplace: Nếu True, sửa đổi DataFrame trực tiếp; nếu False, trả về DataFrame mới.
    - empty_group_strategy: Chiến lược xử lý cho nhóm toàn bộ giá trị là NaN ('remove_group', 'replace_with_default', 'remove_column').

    Returns:
    Nếu inplace=True, None. Nếu inplace=False, trả về DataFrame
    với giá trị NaN đã được gán và điền.
    """

    if inplace:
        print(f"--- Thay Thế Giá Trị Không Hợp Lệ Cho Cột {column} ---")

        # Trước khi Gán giá trị NaN
        nan_values_before = df[column].value_counts(
            dropna=False).get(np.NaN, 0)
        if nan_values_before:
            print(f'\nTrước khi Gán: {column}',
                  f'Có {nan_values_before} Giá Trị NaN', end='\n')

        if replace_outliers:
            actual_min, actual_max = get_group_min_max(df, groupby, column)
            print(f"\nMin Và Max Ban Đầu Của Thuộc Tính:", df[column].apply(
                [min, max]), sep='\n', end='\n')

            print(f"\nMin Và Max Thực Tế Khi Thực Hiện Gom Nhóm Bởi {groupby}:",
                  f'Min\t{actual_min},\nMax\t{actual_max}', sep='\n', end='\n')

        example_before = df.groupby(groupby)[column].apply(list).head()
        print(f'\nVí Dụ Trước Khi Gán {column}:',
              *example_before.values, sep='\n', end='\n')

        # Gán giá trị
        make_group_nan_and_fill_mode_numeric(
            df, groupby, column, replace_outliers, inplace)

        # Sau khi Gán giá trị NaN
        nan_values_after = df[column].value_counts(dropna=False).get(np.NaN, 0)
        if nan_values_after:
            print(f'\nSau Khi Gán: {column}',
                  f'Có {nan_values_after} Giá Trị NaN', end='\n')

        example_after = df.groupby(groupby)[column].apply(list).head()
        print(f'\nVí Dụ Sau Khi Gán {column}:',
              *example_after.values, sep='\n', end='\n')

        # Xử lý nhóm toàn bộ giá trị là NaN
        handle_empty_group(df, groupby, column,
                           strategy=empty_group_strategy, inplace=True)

    else:
        # Trả về DataFrame với giá trị NaN đã được gán và điền
        result = make_group_nan_and_fill_mode_numeric(
            df, groupby, column, replace_outliers, inplace)

        # Xử lý nhóm toàn bộ giá trị là NaN
        handle_empty_group(result, groupby, column,
                           strategy=empty_group_strategy, inplace=False)

        return result

### Số Km đã đi

In [34]:
# Số Km đã đi không có giá trị khác biệt nên ta chỉ chuyển về kiển số thực 
# rồi thực hiện thay thế giá trị bị khuyết.
df['Số Km đã đi'] = df['Số Km đã đi'].astype('float64')
numeric_wrong_values_reassign_group_min_max(df, 'Hãng', 'Số Km đã đi')

--- Thay Thế Giá Trị Không Hợp Lệ Cho Cột Số Km đã đi ---

Trước khi Gán: Số Km đã đi Có 284 Giá Trị NaN

Min Và Max Ban Đầu Của Thuộc Tính:
min         1.0
max    999999.0
Name: Số Km đã đi, dtype: float64

Min Và Max Thực Tế Khi Thực Hiện Gom Nhóm Bởi Hãng:
Min	4.0,
Max	120000.0

Ví Dụ Trước Khi Gán Số Km đã đi:
[95000.0, 80000.0]
[30000.0, 1400.0, nan, 55000.0, 18000.0, 69000.0, 27000.0, 59000.0, 89000.0, 30000.0, 745000.0, 68000.0, 65000.0, 65000.0, 150000.0, 86000.0, 30000.0, 100000.0, 68000.0, 388.0, 87000.0, 388.0, nan, 60500.0]
[80000.0, 75000.0, 145000.0, 42000.0, 90000.0, 49000.0, 150000.0, 88888.0, 114000.0, 6000.0, 2000.0, 39997.0, 200000.0, 93000.0, 70000.0, 100000.0, 100000.0, 60000.0, 78803.0, 33000.0, 80000.0, 7000.0, 78000.0, 100000.0, 89000.0, nan, 67000.0, 36000.0, 45000.0]
[40000.0, 42000.0, 59000.0, 4.0]
[90000.0, 80000.0, 72000.0]

Ví Dụ Sau Khi Gán Số Km đã đi:
[95000.0, 80000.0]
[30000.0, 1400.0, 30000.0, 55000.0, 18000.0, 69000.0, 27000.0, 59000.0, 89000.0, 30000.0, 30000.0, 68000.0, 65000.0, 65000.0, 30000.0, 86000.0, 30000.0, 100000.0, 68000.0, 388.0, 87000.0, 388.0, 30000.0, 60500.0]
[80000.0, 75000.0, 100000.0, 42000.0, 90000.0, 49000.0, 100000.0, 88888.0, 114000.0, 6000.0, 2000.0, 39997.0, 100000.0, 93000.0, 70000.0, 100000.0, 100000.0, 60000.0, 78803.0, 33000.0, 80000.0, 7000.0, 78000.0, 100000.0, 89000.0, 100000.0, 67000.0, 36000.0, 45000.0]
[40000.0, 42000.0, 59000.0, 4.0]
[90000.0, 80000.0, 72000.0]

### Số chỗ

In [35]:
# Ở số chỗ, ta có một giá trị là 'Khác'. Ở đây, chúng tôi cho chúng tương tự như 
# các giá trị bị khuyết và tiến hành thay thế chúng tương tự như trên.

df['Số chỗ'].replace(to_replace='Khác', value=np.NaN, inplace=True)
df['Số chỗ'] = df['Số chỗ'].astype('float64')
numeric_wrong_values_reassign_group_min_max(df, 'Hãng', 'Số chỗ', replace_outliers=False)

--- Thay Thế Giá Trị Không Hợp Lệ Cho Cột Số chỗ ---

Trước khi Gán: Số chỗ Có 315 Giá Trị NaN

Ví Dụ Trước Khi Gán Số chỗ:
[7.0, nan]
[4.0, 5.0, 4.0, 5.0, nan, 7.0, nan, 5.0, 4.0, nan, nan, 5.0, nan, 4.0, 4.0, 8.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 4.0, 5.0]
[nan, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, nan, 5.0, nan, nan, 8.0, 5.0, 4.0, 4.0, 5.0, 5.0, 5.0, 8.0, 4.0, 5.0, 4.0, 5.0, 8.0, 4.0, nan, nan, 5.0, 4.0]
[4.0, 5.0, 5.0, 5.0]
[nan, 8.0, 5.0]

Ví Dụ Sau Khi Gán Số chỗ:
[7.0, 7.0]
[4.0, 5.0, 4.0, 5.0, 5.0, 7.0, 5.0, 5.0, 4.0, 5.0, 5.0, 5.0, 5.0, 4.0, 4.0, 8.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 4.0, 5.0]
[5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 8.0, 5.0, 4.0, 4.0, 5.0, 5.0, 5.0, 8.0, 4.0, 5.0, 4.0, 5.0, 8.0, 4.0, 5.0, 5.0, 5.0, 4.0]
[4.0, 5.0, 5.0, 5.0]
[5.0, 8.0, 5.0]

### Giá

In [36]:
# Trước hết, ta sẽ chuyển định dạng tiền về kiểu chuỗi số bằng cách loại bỏ các dấu '.' 
# và loại bỏ đơn vị tiền tệ ở cuối. Sau đó, ta sẽ xóa các dòng mà có giá tiền là rỗng
# vì chúng không mang độ chính xác cao khi dùng để dự đoán.

df['Giá'] = df['Giá'].str.replace('[. đ]', '', regex=True)
df.dropna(subset=['Giá'], inplace=True)
df['Giá'] = df['Giá'].astype('int64')

## 3.2. Giá trị bị khuyết là biến phân loại

In [37]:
def fill_nan_with_most_common_per_group(df, column_name, groupby_column='Customer_ID'):
    """
    Điền giá trị NaN trong một cột của DataFrame bằng giá trị phổ biến nhất không phải NaN
    trong mỗi nhóm được xác định bởi một cột cụ thể.

    Tham số:
    - df: DataFrame đầu vào.
    - column_name: Cột cần xử lý.
    - groupby_column: Cột được sử dụng để nhóm. Mặc định là 'Customer_ID'.

    Trả về:
    None. Hàm thực hiện sửa đổi trực tiếp trên DataFrame đầu vào.
    """

    # Bước 1: Gom nhóm DataFrame theo cột được chỉ định
    # Và tìm giá trị không phải NaN phổ biến nhất cho mỗi nhóm
    most_common_values = df.groupby(groupby_column)[column_name].agg(
        lambda x: x.mode()[0] if pd.notna(x).any() else np.NaN
    )

    # Bước 2: Thay thế giá trị NaN bằng giá trị phổ biến nhất cho mỗi nhóm
    df[column_name] = df.apply(
        lambda row: most_common_values[row[groupby_column]]
        if pd.isna(row[column_name]) else row[column_name],
        axis=1
    )

    # Bước 3: Xử lý nhóm toàn bộ giá trị là NaN
    handle_empty_group_categories(df, groupby_column, column_name)


def handle_empty_group_categories(df, groupby_column, column_name):
    """
    Xử lý nhóm toàn bộ giá trị là NaN trong DataFrame.

    Tham số:
    - df: DataFrame đầu vào.
    - groupby_column: Cột được sử dụng để nhóm.
    - column_name: Cột cần xử lý.

    Trả về:
    None. Hàm thực hiện sửa đổi trực tiếp trên DataFrame đầu vào.
    """

    # Kiểm tra nếu toàn bộ giá trị trong một nhóm đều là NaN
    empty_groups = df.groupby(groupby_column)[column_name].apply(
        lambda x: x.notna().all()
    ).loc[lambda x: x == False].index

    # Xử lý nhóm toàn bộ giá trị là NaN
    df.loc[df[groupby_column].isin(empty_groups), column_name] = df[column_name].mode()[
        0] if not df[column_name].mode().empty else np.NaN

In [38]:
# Thay thế các giá trị NaN trong biến phân loại bằng mode cục bộ của từng nhóm khi gom nhóm
# bởi 'Hãng'. Nếu nhóm đó rỗng thì thay thế bằng mode toàn cục của cột đang xét.
fill_nan_with_most_common_per_group(df, 'Phân loại người bán', 'Hãng')
fill_nan_with_most_common_per_group(df, 'Kiểu dáng', 'Hãng')

# 4.&nbsp;Chuyển kiểu dữ liệu cho phù hợp với các thuộc tính

In [39]:
# Ở đây, ta sẽ chuyển các thuộc tính 'Năm sản xuất', 'Số Km đã đi', 'Số chỗ'
# về đúng kiểu là kiểu số nguyên
df['Năm sản xuất'].replace(
    to_replace='trước năm 1980', value=1979, inplace=True)
df[['Năm sản xuất', 'Số Km đã đi', 'Số chỗ']] = df[[
    'Năm sản xuất', 'Số Km đã đi', 'Số chỗ']].astype('int64')

# 5.&nbsp;Lưu bộ dữ liệu đã tiền xử lý

In [40]:
# Thông tin các thuộc tính sau khi tiền xử lý
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2685 entries, 0 to 2687
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Màu sắc              2685 non-null   object
 1   Phân loại người bán  2685 non-null   object
 2   Tỉnh                 2685 non-null   object
 3   Hãng                 2685 non-null   object
 4   Dòng xe              2685 non-null   object
 5   Năm sản xuất         2685 non-null   int64
 6   Số Km đã đi          2685 non-null   int64
 7   Tình trạng           2685 non-null   object
 8   Hộp số               2685 non-null   object
 9   Nhiên liệu           2685 non-null   object
 10  Kiểu dáng            2685 non-null   object
 11  Số chỗ               2685 non-null   int64
 12  Xuất xứ              2685 non-null   object
 13  Đối tác              2685 non-null   object
 14  Giá                  2685 non-null   int64
dtypes: int64(4), object(11)
memory usage: 335.6+ KB

In [41]:
# Hiển thị 5 dòng đầu tiên của bộ dữ liệu
df.head()

,Màu sắc,Phân loại người bán,Tỉnh,Hãng,Dòng xe,Năm sản xuất,Số Km đã đi,Tình trạng,Hộp số,Nhiên liệu,Kiểu dáng,Số chỗ,Xuất xứ,Đối tác,Giá
0,đen,Bán chuyên,Hà Nội,Mitsubishi,Xpander,2022,50000,Đã sử dụng,Tự động,Xăng,Minivan (MPV),7,Đang cập nhật,No,559000000
1,nâu,Cá nhân,Tp Hồ Chí Minh,Nissan,Sunny,2019,52000,Đã sử dụng,Tự động,Xăng,Sedan,5,Hàn Quốc,No,335000000
2,đen,Cá nhân,Tp Hồ Chí Minh,Ford,Escape,2003,50000,Đã sử dụng,Tự động,Xăng,SUV / Cross over,5,Việt Nam,No,106000000
3,đen,Cá nhân,Tp Hồ Chí Minh,Hyundai,Accent,2021,42,Đã sử dụng,Tự động,Xăng,Sedan,4,Hàn Quốc,No,450000000
4,đỏ,Bán chuyên,Hà Nội,Ford,Ranger,2022,51000,Đã sử dụng,Tự động,Dầu,SUV / Cross over,5,Việt Nam,No,534000000

## 5.1.&nbsp;Bộ dữ liệu gốc

In [42]:
# Lưu bộ dữ liệu đã được tiền xử lý ở định dạng csv với tên là 'CarPricePrediction_Clean.csv'
df.to_csv('../data/CarPricePrediction_Clean.csv', index=False)

In [43]:
# Lấy danh sách các cột có kiểu dữ liệu là object (có thể là biến phân loại)
categorical_columns = df.select_dtypes(include=['object']).columns

## 5.2.&nbsp;Bộ dữ liệu dùng Label Encoder

In [44]:
# Tạo một bản sao của DataFrame df và lưu vào df_label
df_label = df.copy()

# Áp dụng Label Encoding cho từng cột phân loại
label_encoder = LabelEncoder()
for col in categorical_columns:
    df_label[col] = label_encoder.fit_transform(df_label[col])

In [45]:
# Lưu bộ dữ liệu đã được tiền xử lý ở định dạng csv với tên là 'CarPricePrediction_Label.csv'
df_label.to_csv('../data/CarPricePrediction_Label.csv', index=False)

## 5.3.&nbsp;Bộ dữ liệu dùng One Hot Encoder

In [46]:
# Tạo một bản sao của DataFrame df và lưu vào df_onehot
df_onehot = df.copy()

# Áp dụng One-Hot Encoding cho các cột dạng categorical trong DataFrame
df_onehot = pd.get_dummies(df_onehot, prefix=categorical_columns)

# Lấy cột 'Giá' và lưu vào biến 'price'
price = df_onehot.pop('Giá')

# Thêm cột 'Giá' vào cuối DataFrame
df_onehot['Giá'] = price

In [47]:
# Lưu bộ dữ liệu đã được tiền xử lý ở định dạng csv với tên là 'CarPricePrediction_OneHot.csv'
df_onehot.to_csv('../data/CarPricePrediction_OneHot.csv', index=False)